-
  var credits = [
    {
      title: 'SnakeGame',
      descriptionHtml: 'へびが餌を食べると大きくなるゲームです。<br/>昔からあるSnakeGameを自分風に作ってみました。<br/>自分が難しいと思う程度の難易度にしたら他の人がほとんど進めなくなってしまいました',
      screenshot: 'assets/sudou_screenshot.png',
      team: {
        name: 'sudou',
        members: [
          {
            grade: '2年',
            name: '須藤 ゆうや',
            job: 'デザイナー兼プログラマー',
            avatar: 'assets/sudou.png',
            commentHtml: '楽しいよ。'
          }
        ]
      },
      feedbackHtml: 'フレームワーク等を利用せず、JavaでSwingを用い開発されてます。<br/>難しいゲームながら、開発した須藤くんはなんと40点！なお、僕は5点でした。'
    },
    {
      title: 'Walking LDD! ～Don\'t be as a BOND～',
      descriptionHtml: 'おもちゃの兵隊を避けてゴールするゲームです。一回でも触れるとプレイヤーがボンドになってしまいます。上手く避けてゴールを目指しましょう。<br/>ちなみに…マインクラフトをされている方は知っているかもしれませんが、全ての床と壁がクリーパーとなっています。踏んでも害はありません。',
      screenshot: 'assets/bond_screenshot.png',
      team: {
        name: 'ボンドと愉快な仲間たち',
        members: [
          {
            grade: '1年',
            name: '音依',
            job: '開発兼雑務',
            avatar: 'assets/bond_01.jpg',
            commentHtml: '醤油ラーメンおいしい'
          },
          {
            grade: '1年',
            name: 'バカボンド',
            job: 'グラフィッカー兼ボンド担当',
            avatar: 'assets/bond_02.jpg',
            commentHtml: '塩ラーメンおいしい'
          },
          {
            grade: '1年',
            name: 'インスタントER',
            job: 'グラフィッカー兼おふざけ担当',
            avatar: 'assets/bond_03.jpg',
            commentHtml: '醤油ラーメン最高'
          }
        ]
      },
      feedbackHtml: 'アーティスティックなグラフィックが見どころです。毎週仲良く楽しそうに開発しているのが印象的でした！'
    },
    {
      title: '未定 (あとで決める)',
      descriptionHtml: 'アクションエディターを使っています。',
      screenshot: 'assets/actioneditor_screenshot.png',
      team: {
        name: 'アクションエディター',
        members: [
          {
            grade: '専攻科',
            name: '松本まさし',
            job: 'ぜんぶ',
            avatar: 'assets/masashi.jpg',
            commentHtml: 'アクションエディターすごいですねこれ'
          }
        ]
      },
      feedbackHtml: 'アーティスティックなグラフィックが見どころです。毎週仲良く楽しそうに開発しているのが印象的でした！'
    },
    {
      title: '頭悪そうなアクション',
      descriptionHtml: 'たのちい',
      screenshot: 'assets/banana_screenshot.png',
      team: {
        name: 'バーサーカーソウル',
        members: [
          {
            grade: '3年',
            name: '秦の。',
            job: 'プログラマー',
            avatar: 'assets/banana_hata.jpg',
            commentHtml: '初のゲーム作品です'
          },
            {
              grade: '3年',
              name: '塩辛らーめん',
              job: 'おえかき',
              avatar: 'assets/banana_ramen.png',
              commentHtml: 'ぱせり'
            },
            {
              grade: '3年',
              name: 'アズレン廃人',
              job: '企画',
              avatar: 'assets/banana_azulane.jpg',
              commentHtml: 'アズレンから逃げるな'
            }
        ]
      },
      feedbackHtml: 'Twitterで最近流行りの「頭の悪い人」が主人公です。実はUnityを使って開発しているチームでは最も開発進捗が早かったです！'
    }
  ];

doctype html
html
  head
    link(rel="stylesheet" href="bundle.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css")
  body.A4.landscape
    each credit in credits
      section.sheet.padding-10mm
        h1.title= credit.title
        h2.team-name
          span= 'チーム'
          span= credit.team.name
        div.description
          img.screenshot(src=credit.screenshot)
          span!= credit.descriptionHtml
          div.teacher
            h3.teacher-caption= '先生からのコメント'
            div.teacher-comment!= credit.feedbackHtml
        div.members
          each member in credit.team.members
            div.member
              div.member-header
                img.member-avatar(src=member.avatar)
                h1.member-name= member.grade + " " + member.name
                h2.member-job= member.job
              div.member-comment!= member.commentHtml
        div.footer= 'プログラミングゼミ 生徒作品'
